/* .basic-info {

} */
#profile-section {
    border: 5px solid #76E7CD;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: space-between;
    background: url(background.webp);
    background-size: cover;
    font-size: large; 
    padding: 10px;
    /* display: flex;  */
    color:rgb(238, 144, 144)
    
}

#repo-section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border:#76E7CD solid 5px;
    background: url(purple-textured-background.jpeg);
    background-size: cover;
    color: rgb(238, 144, 144);
    font-size: 30px; 
    text-align: center;
    padding: 20px; 
}
a {
    background-color: rgba(188, 210, 238, .55);
    box-shadow: 4px 4px 8px rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
    display: flex; 
    text-decoration: none;
    border-radius: 45px;
    color: #832161;

}

a:link {
    color: #832161
}

a:hover {
    color: rgb(255, 255, 255);
    transition: .35s
}


h3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    background:rgba(92, 20, 104, .7);
    border-radius: 50px;
    border: 5px teal;
    margin: 5px;
}

.profile {
    border: 2px solid rgb(39, 138, 188);
    text-align: center;
}

img {
    border-radius: 50%;
    max-width: 40%;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(214, 127, 127); 

}

.biostuff {
    background: white;
    margin: 5px;
    font-size: 30px;
    text-align: center;


}
.location {
    background: white;
    margin: 5px;
    font-size: 20px;
}
.username {
    margin: 5px;
    font-size: 30px;
}