/* .basic-info {

} */
#profile-section {
    border: 5px solid goldenrod;
    text-align: space-between;
    
}

#repo-section {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
a {
    border: 1px solid rgb(206, 206, 206);
    padding: 5px;
    margin: 5px;
    display: flex; 
    text-decoration: none;
}

a:link {
    color: #6b147b
}

h3 {
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

div {
    border: 2px solid rgb(39, 138, 188);
    text-align: center;
}

img {
    border-radius: 50%;
    max-width: 200px;
    padding: 20px;
}

